body {
    padding-top: 50px;
}
.slotMachine
{
    margin:0 auto;
    width:800px;
    height:400px;
    text-align:center;
    border:none;
}

/* #points {
    margin: auto;
    width: 10%;
    border: 1px solid black;
    padding: 10px;
} */

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
    text-align:center;
    outline: none;
}

button {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-color: #f44336;
    color: red;
    outline: none;
}

button:hover {
    background: #f44336;
    color: white;
}

table {
    width: 100%;
    height: 100%;
    margin: 50px 0px 50px 0px;
    /* box-shadow:20px 20px 50px red; */
    /* border: 2px solid black; */
    padding: 50px;
}

.roll 
{
    height: 100%;
    /* background:#fff; */
    /* border:solid grey 1px; */
}

@keyframes flickerAnimation 
{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}

.blur
{
    -webkit-animation: flickerAnimation .5s infinite;
    -moz-animation: flickerAnimation .5s infinite;
    -o-animation: flickerAnimation .5s infinite;
    animation: flickerAnimation .05s infinite;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.top
{
    animation: top .12s cubic-bezier(.36,.07,.19,.97) infinite;
    transform: translate3d(0, 0, 0);
    position: relative;
}

@keyframes top {
    10%, 90% {
    transform: translate3d(0, 0px, 0);
    }

    20%, 80% {
    transform: translate3d(0, -50px, 0);
    }

    30%, 50%, 70% {
    transform: translate3d(0, 50px, 0);
    }

    40%, 60% {
    transform: translate3d(0, 0px, 0);
    }
}
